@import "../../variables.scss";

.btn__settings {
  background: #fff;
  border: none;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: $boxShadow10;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 20px;
  width: 50px;
  z-index: 1000;

  svg {
    @extend .fullScreen;
    padding: 0.5em;
    margin: auto;
  }

  &.carshop {
    bottom: 80px;
    padding: 0.25em;
  }
}

.modal-settings {
  background: #fff;
  border-radius: 10px;
  bottom: 80px;
  box-shadow: $boxShadow10;
  height: auto;
  padding: 1em;
  position: fixed;
  right: 20px;
  width: fit-content;
  z-index: 1000;

  .section-settings {
    text-align: center;

    div {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
