.aboutus {
  width: 100% !important;
  margin: 0 !important;
  margin-top: 70px !important;

  &.light {
    .kromac-grid {
      background-color: #fff !important;
    }
  }

  h1 {
    margin-bottom: 1.25em !important;
  }

  .kromac-grid {
    div {
      height: 300px;

      h3 {
        margin-top: 1em;
      }

      p {
        padding: 1em 2em;
      }

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}
