.table__header {
  align-items: center;
  background: #17202a;
  border-radius: 20px 20px 0 0;
  color: #fff;
  display: flex;
  gap: 15px;
  height: 50px;
  justify-content: space-between;
  overflow-x: auto;
  padding: 0 15px;
  width: 100%;

  section {
    padding: 0.25em;
    text-align: center;

    &.filter_title {
      width: 100%;
    }

    &.active {
      border-bottom: solid 2px;
    }

    p {
      cursor: pointer;
    }
  }

  span {
    background: #fff;
    border-radius: 1px;
    height: 30px;
    width: 2px;
  }
}
