@import "../../variables.scss";

.jtyt__item {
  height: auto;
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 1em;
  position: relative;
  width: 100%;

  &.dark .classic .kromac-card .kromac-card-caption {
    background-color: #111b21;
    color: #fff;
  }

  .item__whatsapp {
    background: #fff;
    border: none;
    border-radius: 0 0 20px 20px;
    bottom: -46px;
    box-shadow: 0px 5px 11px 3px rgba(0, 0, 0, 0.5);
    left: 0;
    position: absolute;
    transition: 0.25s all ease-in-out;
    width: 100%;
    z-index: 1000;

    & > button:nth-child(1) {
      border-right: solid 1px #8b8b8b;
      border-radius: 0 0 0 20px;
      color: #196f3d;
      transition: 0.25s all ease-in-out;

      &:hover {
        background-color: #196f3d !important;
        transition: 0.25s all ease-in-out;
        color: #fff;
        text-shadow: 0 0 15 rgba(0, 0, 0, 0.5);
      }
    }

    & > button:nth-child(2) {
      border-left: solid 1px #8b8b8b;
      border-radius: 0 0 20px 0;
      color: #5b2c6f;
      transition: 0.25s all ease-in-out;

      &:hover {
        transition: 0.25s all ease-in-out;
        background-color: #5b2c6f !important;
        color: #fff;
        text-shadow: 0 0 15 rgba(0, 0, 0, 0.5);
      }
    }

    &.combo {
      button {
        color: #cb4335;
        width: 100%;
        border-radius: 0 0 20px 20px;

        &:hover {
          background-color: #cb4335 !important;
          text-shadow: 0 0 15 rgba(0, 0, 0, 0.5);
          color: #fff;
        }
      }
    }
  }

  .classic .kromac-card {
    border-radius: 20px 20px 0 0 !important;
    margin-top: 0;
    max-width: 100%;
    min-width: 100%;

    .kromac-card-caption .card-text {
      max-height: fit-content;
      padding: 0.5em 1em;
    }

    .kromac-card-image {
      border-radius: 20px 20px 0 0;
    }
  }
}

.item__info {
  display: flex;
  gap: 20px;
  text-align: left;

  button.item__view__galery {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 20px;
    text-shadow: 0 0 5px #000;
    top: -35px;
    gap: 5px;
  }

  section {
    font-size: 12px;

    p {
      margin-bottom: 0.5em !important;
    }
  }

  .item__show__gallery {
    position: fixed;
    z-index: 100000000;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    backdrop-filter: $bgBlurDark;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn__close__modal {
      background: #000;
      color: #fff;
    }
  }
}
