@import "../../variables.scss";

.modal {
  @extend .fullScreen;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  backdrop-filter: $bgBlurDark;
  overflow: hidden;

  .modal__content {
    width: 80%;
    height: 80%;
    margin: auto;
    top: 10%;
    position: relative;
    background: #fff;
    border-radius: 20px;
    color: #000;
    overflow: hidden;
    text-align: center;

    h3 {
      border-bottom: solid 1px;
      width: 90%;
      padding: 0.5em 1em;
      margin: auto;
    }
  }
}
