@import "./variables.scss";

.kromac-menu-hamburger {
  visibility: hidden;

  .kromac-hamburger-menu {
    box-shadow: $boxShadowInset5;
    top: 11px;

    &.active {
      box-shadow: none;
    }
  }
}

@media (max-width: 800px) {
  .kromac-menu-hamburger {
    visibility: visible;
  }
}
