body {
  background-color: #ededed;
  color: #000;
}

.dark {
  background-color: #111b21 !important;
  color: #fff !important;
}

.kromac-hamburger-menu {
  top: 10px !important;
}

.btn__close__modal {
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  z-index: 10000000;
}

.icon__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.item__whatsapp__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50%;
  height: 45px;
  padding: 0.5em 1em;
  display: inline-flex;
}
