$bgHeader: #17202a;
$boxShadow10: 0 0 10px 0px rgba(0, 0, 0, 0.5);
$boxShadowInset5: inset 0 0 5px 0px rgba(255, 255, 255, 0.5);
$bgBlurDark: brightness(0.3) blur(5px);

.fullScreen {
  width: 100%;
  height: 100%;
}
